@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome to SmartAssess!</h1>
    <p>Sign up today to gain access to our full range of features.</p>
    <a asp-controller="Account" asp-action="Register" class="btn btn-outline-success">Sign Up</a> or <a asp-controller="Account" asp-action="Login" class="btn btn-outline-success">Log In</a>
</div>