@{
    ViewData["Title"] = "Home";
}

<div class="text-center" style="margin-top: 16%">
    <h1 style="font-size: 72px;">Welcome to SmartAssess!</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <h3>Sign up to gain access to full range of features.</h3>
    }
</div>