@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home";
    var successNotification = TempData["SuccessNotification"] as string;
    var errorNotification = TempData["ErrorNotification"] as string;
}

<div class="text-center" style="margin-top: 16%; background-image: url(/images/banners/home-background.jpg);background-size: cover;background-position: 50% 50%;">
    <h1 class="display-1">@Localizer["WelcomeToSmartAssess"]</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <h3>@Localizer["SignUpToGainAccessToFullRangeOfFeatures"]</h3>
    }
</div>

<!-- Toast Container -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    @if (!string.IsNullOrEmpty(successNotification))
    {
        <div class="toast bg-success text-white show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <div class="d-flex gap-4">
                    <span><i class="fa fa-check-circle fa-lg"></i></span>
                    <div class="d-flex flex-grow-1 align-items-center">
                        <span class="fw-semibold">@successNotification</span>
                        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (!string.IsNullOrEmpty(errorNotification))
    {
        <div class="toast bg-danger text-white show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <div class="d-flex gap-4">
                    <span><i class="fa fa-exclamation-circle fa-lg"></i></span>
                    <div class="d-flex flex-grow-1 align-items-center">
                        <span class="fw-semibold">@errorNotification</span>
                        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.body.style.backgroundImage = "url('/images/banners/home-background.jpg')";
        document.body.style.backgroundSize = "cover";
        document.body.style.backgroundPosition = "50% 50%";
    });
</script>