@model Presentation_Layer.ViewModels.Exam.ExamViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4">Create exam for course "@Html.DisplayFor(model => model.CourseName)"</h1>
</div>

<div class="container">
    <form asp-action="Create">
        @await Html.PartialAsync("PartialViews/_ExamForm", Model)
        <br />
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    @Html.HiddenFor(model => model.CourseId)
                    <input type="submit" value="Create" class="btn btn-outline-success" />
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Exam.js"></script>
}