@model Presentation_Layer.ViewModels.ExamViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>ExamViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ExamStartDateTime" class="control-label"></label>
                <input asp-for="ExamStartDateTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ExamEndDateTime" class="control-label"></label>
                <input asp-for="ExamEndDateTime" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
