@model Presentation_Layer.ViewModels.Exam.ExamViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="text-center">
    <h1 class="display-4">Update exam for course "@Html.DisplayFor(model => model.CourseName)"</h1>
</div>

<div class="container">
    <form asp-action="Update">
        @await Html.PartialAsync("PartialViews/_Form", Model)
        <br />
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <input type="submit" value="Save" class="btn btn-outline-success mb-3" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Exam.js"></script>
}