@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="text-center" style="margin-top: 16%;">
    <h1 class="display-1">401 Unauthorized</h1>
    <h5 class="display-5" style="font-size: 2rem;">@Localizer["ErrorDescription"]</h5>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.body.style.backgroundImage = "url('/images/banners/home-background.jpg')";
        document.body.style.backgroundSize = "cover";
        document.body.style.backgroundPosition = "50% 50%";
    });
</script>