@model Presentation_Layer.ViewModels.Trash.DeletedExamListWithPaginationViewModel

<div id="deletedExamList">
    <div class="row">
        @Html.Partial("PartialViews/_DeletedExamList", Model)
    </div>
</div>

<div class="d-flex justify-content-center" id="deletedExamsPaginationContainer" style="font-size: larger;">
    @Html.Partial("PartialViews/_DeletedExamsPagination", Model.Pagination)
</div>