@model Presentation_Layer.ViewModels.Trash.DeletedCourseListWithPaginationViewModel

<div id="deletedCourseList">
    <div class="row">
        @Html.Partial("PartialViews/_DeletedCourseList", Model)
    </div>
</div>

<div class="d-flex justify-content-center" id="deletedCoursesPaginationContainer" style="font-size: larger;">
    @Html.Partial("PartialViews/_DeletedCoursesPagination", Model.Pagination)
</div>