@model Presentation_Layer.ViewModels.Trash.DeletedUserListWithPaginationViewModel

<div id="deletedUserList">
    <div class="row">
        @Html.Partial("PartialViews/_DeletedUserList", Model)
    </div>
</div>

<div class="d-flex justify-content-center" id="deletedUsersPaginationContainer" style="font-size: larger;">
    @Html.Partial("PartialViews/_DeletedUsersPagination", Model.Pagination)
</div>