@model ForgotPasswordViewModel

<form asp-action="ForgotPassword" method="post">
    <label class="control-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <br/>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-success" type="submit">Reset Password</button>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>