@model Presentation_Layer.ViewModels.RegisterViewModel

<h2 class="text-center">Register</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" asp-anti-forgery="true">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="FirstName"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="FirstName" />
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="LastName"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="LastName" />
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="UserName"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="UserName" />
                    </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="Email"></label>
                    <div class="col-sm-10">
                        <input class="form-control" type="email" asp-for="Email" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="Password"></label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" asp-for="Password" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" asp-for="ConfirmPassword"></label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" asp-for="ConfirmPassword" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br/>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-outline-success" type="submit">Register</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <span>Already have an account?</span>
                            @Html.ActionLink("Login", "Login")
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>

@*For remote validation*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>