@model ResetPasswordViewModel

<form method="post">
    <div>
        <label class="control-label" asp-for="NewPassword"></label>
        <input class="form-control" asp-for="NewPassword" />
    </div>
    <div>
        <label class="control-label" asp-for="ConfirmNewPassword"></label>
        <input class="form-control" asp-for="ConfirmNewPassword" />
    </div>
    <br/>
    <div class="row">
        <div class="col text-center">
            @Html.HiddenFor(model=>model.Code)
            @Html.HiddenFor(model => model.Email)
            <button class="btn btn-outline-success" type="submit">Save</button>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>